html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #eae8e8;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgba(102, 76, 40, 1);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding-bottom: 0.6em;
}

a:hover {
  color: rgba(102, 76, 40, 0.6);
}

.container {
  margin: 2em 0;
  padding: 2em;
  display: block;
}

.map {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: auto;
  box-shadow: 1em 0.5em 5em rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* 11/24/2020 | 13:57 EST (GMT-05:00) This next box-shadow doesn't work but would be cool */
.location-marker {
  box-shadow: 1em 1em 5em rgba(0, 0, 0, 0.5);
}

.location-info {
  position: absolute;
  top: 15px;
  left: 2px;
  width: 300px;
  min-height: 100px;
  padding: 1.5em;
  margin-left: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  color: rgba(0, 0, 0, 0.7);
  transition: all 2s ease-in-out;
}

.location-info:hover {
  transform: scale(1.02);
  border-radius: 1.4em;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1em 1em 5em rgba(0, 0, 0, 0.2);
}

.location-info h2 {
  font-weight: 300;
}

.location-icon {
  transition: all 0.5s ease-in-out;
  font-size: 3em;
  color: rgba(255, 0, 0, 0.7);
}

.location-icon:hover {
  transform: scale(3.1);
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
  font-size: 3.1em;
}

.output {
  font-weight: 400;
  font-size: 1.4em;
}

.output-title {
  font-weight: 300;
  font-style: italic;
  font-size: 1.1em;
}

.org-name {
  font-weight: 400;
}

.dude {
  display: inline-block;
  font-weight: 600;
  transition: all 2s ease-in-out;
}

.dude:hover {
  cursor: pointer;
  transform: scale(3.1);
}

.section-marker {
  text-align: center;
  font-weight: 400;
  margin: 1em 0 1.5em 0;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 0 25em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1em 0.5em 5em rgba(0, 0, 0, 0.5);
}

.spinner h1 {
  font-weight: 400;
}

.header-img {
  display: block;
  width: 25%;
  height: auto;
  margin: 0.5em auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  box-shadow: 1em 0.5em 6em rgba(0, 0, 0, 0.5);
  transition: all 2s ease-in-out;
}

.header-img:hover {
  transform: scale(1.1);
}

.big-cap {
  font-size: 2.5em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.page-marker {
  font-size: 1.8em;
  color: rgba(255, 0, 0, 0.6);
}

header {
  padding: 0 0 2em 1em;
  margin: 0 2em;
}

header h1 {
  font-size: 3em;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0.2em 0;
}

header h2 {
  margin: 0 0 0.8em 1.6em;
  font-weight: 300;
}

header p {
  margin: 0 0 2em 3em;
}

header hr {
  margin: 0 10em;
}

main {
  padding: 0.5em;
  margin: 2em;
}

footer {
  text-align: center;
  padding: 1em;
  margin: 4em 0;
}

footer p {
  padding-bottom: 0.1em;
}
